header {
	height: 500px;
	border-bottom: 5px solid white;
	background-image: url(images/Twice-Banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

nav {
	height: 40px;
	background-color: #ffcce6;
}

section {
	color: black;
	text-align: justify;
	padding: 20px;
	overflow: auto;
}

body {
	margin: 0;
}

.wrapper {
	width: 1650px;
	margin: auto;
}

.home {
	font-size: 200%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	width: 330px;
	display: block;
	float: left;
	height: 28px;
	text-align: center;
	font-size: 16px;
	padding-top: 12px;
}

nav ul li a:link, nav ul li a:visited {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

nav ul li a:hover, nav ul li a:active {
	text-decoration: underline;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 2px 2px black;
}

.col {
    float: left;
    width: 25%;	
}

.twoCol {
	float: left;
	width: 50%;
}

.threeCol {
	float: left;
	width: 500px;
	padding: 0 10px 0 10px;
}

.fiveCol {
	float: left;
	width: 20%
}

.row {
	height: auto;
	overflow: auto;
}

.floatLeft {
	float: left;
	margin: 10px 10px 0 10px;
	padding 2px;
}

.floatRight {
	float: right;
	margin: 0 10px 10px 10px;
	padding 2px;
}

.info {
	margin-left: 20px;
}

.break {
	padding-top: 200px;
}

ul {
	list-style-image: url(images/TwiceLogo.png);
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
	font-family: 'Coming Soon', cursive;
}

.explore a:link, .explore a:visited {
	color: #ffffff;
	background-color: #ffcce6;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	border: 2px solid white;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.explore a:hover, .explore a:active {
	color: red;
	text-transform: uppercase;	
}

.songs {
	height: 40px;
	width: 100%;
	background-color:#ffcce6;
	color: #ffffff;
	padding-top: 10px;
	padding-left: 10px;
}


